<ul id="slide-out" class="sidenav sidenav-fixed" style="background:#4db6ac teal lighten-2">
    <li class="no-padding"  style="background:#e0f7fa"><a href="/cliente">Principal <i class="material-icons">person</i></a></li>

    <li class="no-padding" style="background:#e0f2f1">
        <ul class="collapsible collapsible-accordion">
            <li> 
                <a class="collapsible-header">Mi cuenta<i class="material-icons">portraitt</i></a>
                <div class="collapsible-body">
                    <ul>
                        <li  style="background:#f9fbe7"><a href="/iniciosesion/vista/editarCliente">Editar datos <i class="material-icons">edit</i></a></li>
                       
                </div>
            </li>
        </ul>
    </li>

    <li class="no-padding"style="background:#e0f2f1">
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header">Productos<i class="material-icons">shop</i></a>
                <div class="collapsible-body">
                    <ul>
                        <li style="background:#f9fbe7"><a href="/productos/vistaTermo">Termos<i class="material-icons">looks_one</i> </a> </li>
                        <li style="background:#f9fbe7"><a href="/productos/vistaCubiertos">Cubiertos<i class="material-icons">looks_two</i>  </a></li>
                        <li style="background:#f9fbe7"><a href="/productos/vistaTupper">Tuppers<i class="material-icons">looks_3</i>  </a></li>
                        <li style="background:#f9fbe7"><a href="/productos/vistaBotellas">Botellas de agua<i class="material-icons">looks_4</i>  </a></li>
                        <li style="background:#f9fbe7"><a href="/productos/vistaLoncheras">Loncheras<i class="material-icons">looks_5</i>  </a></li>
                        <li style="background:#f9fbe7"><a href="/productos/vistaExtras">Extras<i class="material-icons">looks_6</i>  </a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>

    <li class="no-padding"style="background:#e0f2f1">
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header">Mi carrito<i class="material-icons">local_grocery_store</i></a>
                <div class="collapsible-body">
                    <ul>
                        <li style="background:#f9fbe7"><a href="/carrito">Ver apartados<i class="material-icons">assignment_turned_in
                            </i>  </a>  </li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>

    <li class="no-padding"style="background:#e0f2f1">
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header"> <a href="/cerrarSesion">Cerrar sesión<i class="material-icons">exit_to_app</i></a>
            </li>
        </ul>
    </li>

    
</ul>