<form id="formStatus" action="/iniciosesion/cliente" method="post">

    <body>

        <div class="modal-dialog text-center">

            <div class="col-sm-12 main-section" id="principal">

                <div class="modal-content " id="fondo">

                    <center>
                        <h1 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">CREATIVE
                            IDEAS
                        </h1>
                    </center>

                    <div class="col-12 user-img" id="imagen_icono">
                        <img src="../assets/img/icono.png" />
                    </div>
                    <form class="col-12">
                        <div class="form-group" id="user-group">
                            <input type="text" class="form-control" id="inputs" placeholder="Email" name="usuario" />
                        </div>
                        <div class="form-group" id="contrasena-group">
                            <input type="password" class="form-control" id="password" placeholder="Contrasena"
                                name="password" />
                        </div>


                        <center> <button type="submit" class="btn btn-primary" id="botonIniciar"><i
                                    class="fas fa-sign-in-alt"></i>
                                Iniciar sesion
                            </button>
                        </center>

                        <!--Esto solo es una etiqueta de texto h6-->
                        <div id="registrate">
                            <h6 style="margin-left: 0px; font-style:oblique; margin-top: 40px;">¿No tienes una cuenta?
                                <A href="/registro"> Registrarte</A></h6>
                        </div>

                        <br></br>
                    </form>
                </div>
            </div>
        </div>


        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <% if(typeof alert!="undefined" ){%>
            <script>
                Swal.fire({
                    title: '<%= alertTitle %>',
                    text: '<%= alertMessage %>',
                    icon: '<%= alertIcon%>',
                }).then((result) => {
                    window.location = '/ <%= ruta%>';
                })
            </script>
            <%}%>

    </body>
</form>


</html>