
<ul id="slide-out" class="sidenav sidenav-fixed" style="background:#4db6ac teal lighten-2">
    <li class="no-padding"  style="background:#e0f7fa"><a href="/administrador">Principal <i class="material-icons">person</i></a></li>

    <li class="no-padding" style="background:#e0f2f1">
        <ul class="collapsible collapsible-accordion">  
            <li>
                <a class="collapsible-header">Productos<i class="material-icons">view_quilt</i></a>
                <div class="collapsible-body">
                    <ul>
                        <li  style="background:#f9fbe7"><a href="/view">Registrar producto <i class="material-icons">add</i></a></li>
                        <li style="background:#f9fbe7"><a href="/modulo/producto/vistaProductos">Ver productos <i class="material-icons">more</i></a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>

    <li class="no-padding"style="background:#e0f2f1">
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header">Ventas<i class="material-icons">view_quilt</i></a>
                <div class="collapsible-body">
                    <ul>
                        <li style="background:#f9fbe7"><a href="/confirmarVentas">Registrar Ventas  <i class="material-icons">add</i> </a> </li>
                        <li style="background:#f9fbe7"><a href="/viewVentas">Ver ventas <i class="material-icons">attach_money</i>  </a></li>
                        <li style="background:#f9fbe7"><a href="/viewDetalleVentas">Ver detalle de ventas <i class="material-icons">attach_money</i>  </a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>

    <li class="no-padding"style="background:#e0f2f1">
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header">Compras<i class="material-icons">view_quilt</i></a>
                <div class="collapsible-body">
                    <ul>
                        <li style="background:#f9fbe7"><a href="/registroCompras">Registrar Compras  <i class="material-icons">add</i> </a></li>
                        <li style="background:#f9fbe7"><a href="/viewCompras">Ver Compras <i class="material-icons">library_add</i>  </a>  </li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>


    <li class="no-padding"style="background:#e0f2f1">
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header">Empleados<i class="material-icons">view_quilt</i></a>
                <div class="collapsible-body">
                    <ul>
                        <li style="background:#f9fbe7"><a href="/catalogo/empleado/view">Registrar empleado  <i class="material-icons">add</i> </a></li>
                        <li style="background:#f9fbe7"><a href="/catalogo/empleado/ver">Ver empleados <i class="material-icons">contacts</i></a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>

    <li class="no-padding"style="background:#e0f2f1">
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header">Proovedores<i class="material-icons">view_quilt</i></a>
                <div class="collapsible-body">
                    <ul>
                        <li style="background:#f9fbe7"><a href="/catalogo/proveedor/view">Registrar proveedor  <i class="material-icons">add</i> </a></li>
                        <li style="background:#f9fbe7"><a href="/catalogo/proveedor/proved">Ver proveedores  <i class="material-icons">contacts</i></a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>

    <li class="no-padding"style="background:#e0f2f1">
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header">Clientes<i class="material-icons">view_quilt</i></a>
                <div class="collapsible-body">
                    <ul>
                        <li style="background:#f9fbe7"><a href="">Ver clientes <i class="material-icons">contacts</i> </a></li>
                        
                    </ul>
                </div>
            </li>
        </ul>
    </li>


    <li class="no-padding"style="background:#e0f2f1">
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header">Apartados<i class="material-icons">view_quilt</i></a>
                <div class="collapsible-body">
                    <ul>
                        <li style="background:#f9fbe7"><a href="#!">Ver apartados <i class="material-icons">card_travel</i></a></li>
                        <li style="background:#f9fbe7"><a href="#!">Eliminar apartados <i class="material-icons">delete</i></a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
   
</ul>