<ul id="slide-out" class="sidenav sidenav-fixed" style="background:#4db6ac teal lighten-2">
    <li class="no-padding"  style="background:#e0f7fa"><a href="/cliente">Principal <i class="material-icons">person</i></a></li>

    <li class="no-padding" style="background:#e0f2f1">
        <ul class="collapsible collapsible-accordion">
            <li> 
                <a class="collapsible-header">Mi cuenta<i class="material-icons">view_quilt</i></a>
                <div class="collapsible-body">
                    <ul>
                        <li  style="background:#f9fbe7"><a href="/iniciosesion/clientd">Editar datos <i class="material-icons">add</i></a></li>
                       
                </div>
            </li>
        </ul>
    </li>

    <li class="no-padding"style="background:#e0f2f1">
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header">Productos<i class="material-icons">view_quilt</i></a>
                <div class="collapsible-body">
                    <ul>
                        <li style="background:#f9fbe7"><a href="">Termos<i class="material-icons">add</i> </a> </li>
                        <li style="background:#f9fbe7"><a href="#!">Cubiertos<i class="material-icons">attach_money</i>  </a></li>
                        <li style="background:#f9fbe7"><a href="#!">Tuppers<i class="material-icons">attach_money</i>  </a></li>
                        <li style="background:#f9fbe7"><a href="#!">Botellas de agua<i class="material-icons">attach_money</i>  </a></li>
                        <li style="background:#f9fbe7"><a href="#!">Loncheras<i class="material-icons">attach_money</i>  </a></li>
                        <li style="background:#f9fbe7"><a href="#!">Extras<i class="material-icons">attach_money</i>  </a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>

    <li class="no-padding"style="background:#e0f2f1">
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header">Mi carrito<i class="material-icons">view_quilt</i></a>
                <div class="collapsible-body">
                    <ul>
                        <li style="background:#f9fbe7"><a href="#!">Ver apartados<i class="material-icons">library_add</i>  </a>  </li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
</ul>



