<div class="container section" style="margin-left: 350px">

    <div class="row">

        <div class="col s4">
            <div class="card">

                <div class="face front">
                    <img src="/assets/img/logoRemasterizados.png">
                    <h3 style="font-size: 25px;">¿QUIÉNES SOMOS?</h3>
                </div>
                <div class="face back">
                    <p style="font-size: 25px;">Somos una empresa encargada de la distribucción de productos para
                        cocinar, conservar y transportar alimentos en forma segura.</p>
                </div>

            </div>
        </div>

        <div class="col s4">

            <div class="card">
                <div class="face front">
                    <img src="/assets/img/usuario.png" alt="">
                    <h3>¿QUIEN ERES TU?</h3>
                </div>
                <div class="face back"> 
                    <p style="font-size: 23px;">Eres una pieza fundamental en la empresa, para tener un crecimiento mutuo que se encarga del control
                        interno de la empresa. Asi es, ¡¡¡ERES EL ADMINISTRADOR!</p>
                    
                </div>
            </div>


        </div>

        <div class="col s4">

            <div class="card">
                <div class="face front">
                    <img src="/assets/img/producto.png" alt="">
                    <h3>PRODUCTOS</h3>
                </div>
                <div class="face back"> 
                    <p style="font-size: 23px;">Eres el encargado de registrar productos nuevos en la empresa con sus respectivas categorias, por ende, 
                        puedes editar los productos registrados.</p>
                    
                </div>
            </div>


        </div>

        <div class="col s4">
            <div class="card">
                <div class="face front">
                    <img src="/assets/img/ventas.jpg">
                    <h3>VENTAS</h3>
                </div>
                <div class="face back">
                    <p style="font-size: 25px;">Eres el encargado de ver las ventas que estan registradas, ventas que ya fueron pagadas asi como ver los detalles
                        de las ventas. </p>
                </div>


            </div>
        </div>


        <div class="col s4">

            <div class="card">
                <div class="face front">
                    <img src="/assets/img/inventario.png">
                    <h3 >COMPRAS</h3>
                </div>
                <div class="face back"> 
                <p style="font-size: 25px;">Eres el encargado de ver las compras que se han realizado, asi como tambien realizar el registro de estas compras
                a los proveedores.</p>
                </div>
            </div>


        </div>


        <div class="col s4">

            <div class="card">
                <div class="face front">
                    <img src="/assets/img/proovedores.jpg">
                    <h3 >PROVEEDORES</h3>
                </div>
                <div class="face back"> 
                <p style="font-size: 25px;">Eres el encargado de ver a los proveedores con los que estan asociados la empresa, tambien los puedes registrar y editar
                su número de telefono. </p>
                </div>
            </div>


        </div>


        <div class="col s4">

            <div class="card">
                <div class="face front">
                    <img src="/assets/img/empleados.jpg">
                    <h3 >EMPLEADOS</h3>
                </div>
                <div class="face back"> 
                <p style="font-size: 25px;">Eres el encargado de ver a los vendedores que estan registrados, tambien los puedes registrar y editar sus datos</p>
                </div>
            </div>


        </div>



        <div class="col s4">

            <div class="card">
                <div class="face front">
                    <img src="/assets/img/apartados.jpg" alt="">
                    <h3 style="font-size: 25px;">APARTADOS</h3>
                </div>
                <div class="face back"> 
                    <p style="font-size: 25px;">Eres el encargado de ver los apartados vencidos, asi como los apartados que aun estan en fecha de pagar,tambien eres
                    el responsable de eliminarlos. </p>
                </div>
            </div>


        </div>

        <div class="col s4">

            <div class="card">
                <div class="face front">
                    <img src="/assets/img/clientes.png" alt="">
                    <h3 style="font-size: 25px;">CLIENTES</h3>
                </div>
                <div class="face back"> 
                    <p style="font-size: 25px;">Eres el encargado de ver a los clientes que estan afiliados a la empresa. </p>
                </div>
            </div>


        </div>


        


    </div>


</div>