            <div class="container section" style="margin-left: 350px">

                <div class="row">

                    <div class="col s4">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-image">
                                    <img src="/assets/img/creative.png">
                                </div>
                                <b>ACERCA DE NOSOTROS</b>
                                <p>Somos una empresa encargada de la distribucción de productos para cocinar, conservar y transportar alimentos en forma segura.</p>
                            </div>

                        </div>
                    </div>

                    <div class="col s4">

                        <div class="card ">

                            <div class="card-content">
                                <div class="card-image">
                                    <img src="/assets/img/vision.png">
                                </div>
                                <b>VISION</b>                         
                                <p>Ser importadores directos de productos de cocina para establecer una línea de distribución mayorista y así poder expandirnos. </p>
                            </div>

                        </div>

                    </div>


                    <div class="col s4">

                        <div class="card">
                            <div class="card-content">
                                <div class="card-image">
                                    <img src="/assets/img/mision.png">
                                </div>
                                <b>MISION</b>
                                
                                <p>Superar las perspectivas de calidad y servicio a nuestros clientes proveyendo productos de alta calidad, con precios competitivos.</p>
                            </div>
                        </div>

                    </div>


                    <div class="col s12">

                        <div class="card horizontal">

                            <div class="card-image">
                                <img src="1.jpg" alt="">
                            </div>

                            <div class="card-content">
                               <b>Contactanos</b>
                                <p>Ubicación: Plaza Teotihuacan No.290, Culhuacan Obrero secc 5, 04440</p>
                                <p>Correo: creativeIdeas@gmail.com</p>
                                <p>Telefono: 9515856562</p>
                            </div>

                        </div>

                    </div>


                </div>


            </div>