<div class="container section" style="margin-left: 350px">

    <div class="row">

        <div class="col s4">
            <div class="card">

                <div class="face front">
                    <img src="/assets/img/logoRemasterizados.png">
                    <h3 style="font-size: 25px;">¿QUIÉNES SOMOS?</h3>
                </div>
                <div class="face back">
                    <p style="font-size: 25px;">Somos una empresa encargada de la distribucción de productos para
                        cocinar, conservar y transportar alimentos en forma segura.</p>
                </div>

            </div>
        </div>

        <div class="col s4">

            <div class="card">
                <div class="face front">
                    <img src="/assets/img/usuario.png" alt="">
                    <h3 style="font-size: 25px;">¿QUIEN ERES TU?</h3>
                </div>
                <div class="face back"> 
                    <p style="font-size: 23px;">Eres una pieza fundamental en la empresa, para tener un crecimiento mutuo que se encarga del control
                        interno de la empresa. Asi es, ¡¡¡ERES EL VENDEDOR!</p>
                    
                </div>
            </div>


        </div>

        <div class="col s4">

            <div class="card">
                <div class="face front">
                    <img src="/assets/img/producto.png" alt="">
                    <h3 style="font-size: 25px;">PRODUCTOS</h3>
                </div>
                <div class="face back"> 
                    <p style="font-size: 23px;">Eres el encargado de ver los productos nuevos en la empresa con sus respectivas categorias, por ende, 
                        .</p>
                    
                </div>
            </div>


        </div>

        <div class="col s4">
            <div class="card">
                <div class="face front">
                    <img src="/assets/img/ventas.jpg">
                    <h3 style="font-size: 25px;">VENTAS</h3>
                </div>
                <div class="face back">
                    <p style="font-size: 25px;">Eres el encargado de ver las ventas que estan registradas, ventas que ya fueron pagadas asi como ver los detalles
                        de las ventas. </p>
                </div>


            </div>
        </div>

        <div class="col s4">

            <div class="card">
                <div class="face front">
                    <img src="/assets/img/apartados.jpg" alt="">
                    <h3 style="font-size: 25px;">APARTADOS</h3>
                </div>
                <div class="face back"> 
                    <p style="font-size: 25px;">Eres el encargado de ver los apartados vencidos, asi como los apartados que aun estan en fecha de pagar,tambien eres
                    el responsable de eliminarlos. </p>
                </div>
            </div>


        </div>

        <div class="col s4">

            <div class="card">
                <div class="face front">
                    <img src="/assets/img/clientes.png" alt="">
                    <h3 style="font-size: 25px;">CLIENTES</h3>
                </div>
                <div class="face back"> 
                    <p style="font-size: 25px;">Eres el encargado de atender y registrar los apartados de los clientes de la empresa. </p>
                </div>
            </div>


        </div>


        


    </div>


</div>