<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("comunes/components/headers-component") -%>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <link rel="stylesheet" type="text/css" href="../assets/css/index.css">
</head>
<body>
    <%- include("status/components/form-inicio-sesion") -%>
        <script src="/assets/js/validaciones/validacioninicio.js"></script>
</body>

</html>