<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("comunes/components/headers-component") -%>
</head>


<body class="cyan darken-1">
    <main>
        <h4 style="padding-left: 28%; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
            ¡Bienvenido!</h4>
    </main>
    <%- include("status/components/form-principal-vendedor") -%>
        
        <%- include("comunes/components/footer-component") -%>


</body>

</html>