<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("comunes/components/headers-component") -%>
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>


<body class="blue darken-3">

    <%- include("status/components/form-principal-admi")  -%>
    <main>
        <h4 style="padding-left: 28%; font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">¡Te
            damos la bienvenida a Creative Ideas!</h4>

            
        <%- include("cards-view/cards-administrador.ejs") -%>

    </main>
        <%- include("comunes/components/footer-component") -%>
        
    
   
</body>
</html>