<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../views/comunes/components/headers-component") -%>
</head>

<body class="cyan darken-1">
    <%- include("../views/principaladmi-view.ejs") -%>

        <main>
            <%- include("../views/status/components/form-registro-productos.ejs") -%>
        </main>
        <script src="../public/assets/js/form-product.js"></script>
        <script src="../public/assets/js/validaciones/validacionproducto.js"></script>

        <%- include("comunes/components/footer-component") -%>

</body>

</html>