<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("comunes/components/headers-component") -%>
</head>

<body class="blue darken-3">

   
    <%- include("status/components/form-principal-admi")  -%>
        <main>
        
        <%- include("../views/status/components/form-registro-empleado.ejs") -%>
        </main>
        
        <script src="/assets/js/validaciones/validacionempleado.js"></script>


        <%- include("comunes/components/footer-component") -%>

</body>

</html>