<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../views/comunes/components/headers-component") -%>
</head>

<body class="cyan darken-1">
    <%- include("../views/principaladmi-view.ejs") -%>
        <main>
            <%- include("../views/status/components/form-registro-proveedor.ejs") -%>
        </main>

        <%- include("../views/comunes/components/footer-component") -%>
            <script src="/assets/js/validaciones/validacionproveedor.js"></script>

</body>

</html>