<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("comunes/components/headers-component") -%>
</head>


<body class=" blue darken-3">

    <%- include("status/components/form-registro-clientes")  -%>

    <script src="/assets/js/validaciones/validacionregc.js"></script>
</body>
</html> 