<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("comunes/components/headers-component") -%>
</head>


<body class="cyan darken-1">

    <%- include("status/components/form-registro")  -%>

    <script src="/assets/js/validacionregc.js"></script>
</body>
</html>