<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../views/comunes/components/headers-component") -%>
</head>

<body class="blue darken-3">
    <%- include("../views/principalcliente2-view.ejs") -%> 
        <main>

            <form class="col s12" id="formStatus" action="/iniciosesion/update/cliente?_method=PUT" method="post">


                <br>

                <div class="container " style="width: 850px; padding: 18px; margin-left: 30%; ">

                    <h4 style="text-align: center; font-family: 'Franklin Gothic Medium';">MODIFICA TU INFORMACIÓN</h4>
                    <h6 style="text-align: center; font-family: 'Franklin Gothic Medium';">En este apartado podrás
                        modificar tu contraseña</h6>
                    <br>



                    <div class="input-field">
                        <!---Esto es la imagen: account circle (materialize)-->
                        <i class="material-icons prefix">lock</i>
                        <!--Input tipo text -->
                        <input type="text" name="password" id="password"  minlength=5  placeholder="CONTRASEÑA">
                        <label for="password" style="color:white">Ingresa contraseña antigua</label>
                        <!--Etiqueta de texto-->
                    </div>

                    <div class="input-field">
                        <!---Esto es la imagen: account circle (materialize)-->
                        <i class="material-icons prefix">lock</i>
                        <!--Input tipo text -->
                        <input type="text" name="password_new" id="password_new"  minlength=5  placeholder="CONTRASEÑA">
                        <label for="password_new" style="color:white">Ingresa contraseña nueva</label>
                        <!--Etiqueta de texto-->
                    </div>

                    <div class="input-field">
                        <!---Esto es la imagen: account circle (materialize)-->
                        <i class="material-icons prefix">lock</i>
                        <!--Input tipo text -->
                        <input type="text" name="password_new_c" id="password_new_c"  minlength=5  placeholder="CONTRASEÑA">
                        <label for="password_new_c" style="color:white">Confirma contraseña</label>
                        <!--Etiqueta de texto-->
                    </div>


                    <!--Este es el botón-->
                    <div class="input-field">
                        <button type="submit" class="btn waves-effect cyan darken-2" style="margin-left: 300px;">
                            <!--Este es el icono del boton (o sea, la flechita)-->
                            <i class="material-icons right">send</i>GUARDAR CAMBIOS
                        </button>

                    </div>


            </form>
        </main>

        <br>
        <div class="container " style="width: 850px; padding: 18px; margin-left: 30%;">

            <table class="">
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>Numero cliente</th>
                        <th>Nombre</th>
                        <th>Numero teléfono</th>
                    </tr>
                </thead>
                <tbody id="data"></tbody>

            </table>
        </div>

        <script src="/assets/js/validaciones/validacionEditarDCliente.js"></script>

        <%- include("status/components/footer-componente-cliente") -%>

            <%- include("../views/comunes/components/footer-component") -%>
</body>

</html> 