<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../views/comunes/components/headers-component") -%>
</head>

<body class="blue darken-3">
    <%- include("status/components/form-principal-admi") -%>

        <main>
 

            <form id="formStatus" class="col s12" action="/catalogo/empleado/update?_method=PUT" method="post">

                <input type="hidden" name="_method" value="PUT">
                <br>

                <div class="container #e1f5fe light-blue lighten-5" style="width: 880px; padding: 18px; margin-left: 28%; ">

                    <h3 style="text-align: center; font-family: 'Franklin Gothic Medium'">CREATIVE IDEAS </h3>
                    <h5 style="text-align: center; font-style:italic">EDITAR EMPLEADOS</h5>

                    <br>

                    <center><img src="/assets/img/Logo.png" width="100" height="auto"></center>

                    <div class="input-field">
                        <!---Esto es la imagen: account circle (materialize)-->
                        <i class="material-icons prefix">user</i>
                        <!--Input tipo text -->
                        <input type="text" name="nombre_E" id="nombre_E" maxlength=50 minlength=2
                            placeholder="nombre Empleado">
                        <label for="nombre_E">Nombre empleado</label>
                        <!--Etiqueta de texto-->

                    </div>
                    <div class="input-field">
                        <!---Esto es la imagen: account circle (materialize)-->
                        <i class="material-icons prefix">local_offer</i>
                        <!--Input tipo text -->
                        <input type="text" name="email" id="email" maxlength=50 minlength=2 placeholder="Email">
                        <label for="email">Email</label>
                        <!--Etiqueta de texto-->

                    </div>

                    <div class="input-field">
                        <!--Icóno-->
                        <i class="material-icons prefix">phone</i>
                        <!--Input de tipo texto-->
                        <input type="text" name="nivelEstudio" id="nivelEstudio" minlength=2 maxlength=20
                            placeholder="Nivel de estudio">
                        <label for="nivelEstudio">Nivel de estudio</label>
                    </div>

                    <!--Este es el botón-->
                    <div class="input-field">
                        <button type="submit" class="btn waves-effect blue darken-3" style="margin-left: 330px;">
                            <!--Este es el icono del boton (o sea, la flechita)-->
                            <i class="material-icons right">send</i>GUARDAR CAMBIOS
                        </button>

                    </div>


            </form>



        </main>

        <br><br>

        <div class="container #e1f5fe light-blue lighten-5" style="width: 880px; padding: 18px; margin-left: 28%; ">
            <center><h5 style="font-style:italic">EMPLEADOS</h5></center>
            <div class="input-field">
                <!--Icóno-->
                
                
                <!--Input de tipo texto-->
                <i class="material-icons prefix">search</i>
                <input type="text" name="buscar" id="buscar" maxlength=20 class="form-control pull-right">
                <label for="buscar">BUSCAR EMPLEADO</label>
            </div>
            <table class="striped" id="datatable">

                <thead>
                    <tr>
                        <th>#</th>
                        <th>NOMBRE</th>
                        <th>APELLIDO M</th>
                        <th>APELLIDO P</th>
                        <th>EMAIL</th>
                        <th>ESTUDIOS</th>

                    </tr>

                </thead>

                <tbody id="data"></tbody>


            </table>



            <form id="formStatus" action="/catalogo/empleado/factura" method="post">
                <div class="input-field">
                    <center><button type="submit" class="btn-large waves-effect waves-light blue darken-3">
                            <i class="material-icons right">picture_as_pdf</i>GENERAR PDF
                        </button></center>

                </div>
            </form>


        </div>


        <!--<script src="/assets/js/form-proveedor.js"></script-->

        <%- include("status/components/footer-component-empleado") -%>
            <%- include("../views/comunes/components/footer-component") -%>

</body>

</html>