<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../views/comunes/components/headers-component") -%>
</head>

<body class="blue darken-3">

    <%- include("status/components/form-principal-vendedor")  -%>
<br><br>
        <div class="container #e1f5fe light-blue lighten-5" style="width: 900px; padding: 18px; margin-left: 27%;">

            <center><img src="/assets/img/Logo.png" width="100" height="auto"></center>
            <h5 style="text-align: center; font-style:italic" style="margin-left: 38%;"> MIS VENTAS</h5>
            <div class="input-field">
                <!--Icóno-->
                
                
                <!--Input de tipo texto-->
                <i class="material-icons prefix">search</i>
                <input type="text" name="buscar" id="buscar" maxlength=20 class="form-control pull-right">
                <label for="buscar">BUSCAR VENTAS</label>
            </div>
            <table class="striped" id="datatable">

                <thead>
                    <tr>
                        <th>VENDEDOR</th>
                        <th># VENDEDOR</th>
                        <th># VENTA</th>
                        <th>FECHA</th>
                        <th># DET_VENTA</th>
                        <th>CANTIDAD</th>
                        <th>PRECIO TOTAL</th>
                        <th>ID PRODUCTO</th>
                    </tr>
                </thead>
                <tbody id="data"></tbody>

            </table>
        </div>


        <%- include("status/components/footer-components-verVentas.ejs") -%>


            <%- include("../views/comunes/components/footer-component") -%>
</body>

</html>