<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../views/comunes/components/headers-component") -%>
</head>

<body class="blue darken-3">
    
    <%- include("status/components/form-principal-admi")  -%>
        <main>

            <form class="col s12" id="formProducto" action="/modulo/producto/update?_method=PUT" method="post" enctype="multipart/form-data" >
                
                
                <br></br>

                <div class="container #e1f5fe light-blue lighten-5" style="width: 950px; padding: 18px; margin-left: 25%;  ">

                    <center><img src="/assets/img/Logo.png" width="100" height="auto" ></center>
                    <h5 style="text-align: center; font-style:italic">EDITAR PRODUCTOS</h5>

                    <br>


                    <div class="input-field">
                        <!---Esto es la imagen: account circle (materialize)-->
                        <i class="material-icons prefix">local_offer</i>
                        <!--Input tipo text -->
                        <input type="text" name="nombre" id="nombre" maxlength=50 minlength=2 placeholder="Nombre" style="text-transform:uppercase;">
                        <label for="nombre">Nombre del producto</label>
                        <!--Etiqueta de texto-->

                    </div>

                    <!--División de materialize tipo input field-->
                    <div class="row">

                        <div class="input-field col s12">
                            <i class="material-icons prefix">local_offer</i>
                            <textarea id="descripcion" name="descripcion" class="materialize-textarea" data-length="80"
                                minlength="6" placeholder="Descripcion" style="text-transform:uppercase;"></textarea>
                            <label for="descripcion">Descripción del producto</label>
                        </div>


                        <!--División de materialize tipo input field-->
                        <div class="input-field col s4">
                            <!--Icóno-->
                            <i class="material-icons prefix">add_shopping_cart</i>
                            <!--Input de tipo texto-->
                            <input type="number" max="1000" min="1" name="existencia" id="existencia"
                                placeholder="Cantidad">
                            <label for="existencia">Existencia</label>

                        </div>

                        <div class="input-field col s4">
                            <!--Icóno-->
                            <i class="material-icons prefix">attach_money</i>
                            <!--Input de tipo texto-->
                            <input type="number" max="100000" min="1" name="precio_Compra" id="precio_Compra"
                                placeholder="Precio">
                            <label for="precio_Compra">Precio de compra</label>

                        </div>

                        <div class="input-field col s4">
                            <!--Icóno-->
                            <i class="material-icons prefix">attach_money</i>
                            <!--Input de tipo texto-->
                            <input type="number" max="10000" min="1" name="precio_Venta" id="precio_Venta"
                                placeholder="Precio">
                            <label for="precio_Venta">Precio de venta</label>

                        </div>



                    </div>

                    <div class="input-field col s12">
                        <div class="file-field input-field">
                            <div class="btn waves-effect blue darken-3">
                                <span>Subir imagen</span>
                                <input id="imagen" name="imagen" type="file">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text" id="textoI" name="textoI" readonly>
                                <label for="textoI">Imagen del producto</label>
                            </div>
                        </div>
                    </div>



                    <!--Este es el botón-->
                    <div class="input-field">
                       <CENter> <button type="submit" class="btn waves-effect blue darken-3"  id="botonGuardar" name="botonGuardar" formmethod="post" name="_method" value="put">
                            <!--Este es el icono del boton (o sea, la flechita)-->
                            <i class="material-icons right">send</i>GUARDAR CAMBIOS
                        </button></CENter>

                    </div>


            </form>



        </main>


<br>
        <div class="container #e1f5fe light-blue lighten-5" style="width: 950px; padding: 18px; margin-left: 25%;">
            <h5 style="text-align: center; font-style:italic" style="margin-left: 38%;">PRODUCTOS</h5>
            <div class="input-field">
                <!--Icóno-->
                
                
                <!--Input de tipo texto-->
                <i class="material-icons prefix">search</i>
                <input type="text" name="buscar" id="buscar" maxlength=20 class="form-control pull-right">
                <label for="buscar">BUSCAR PRODUCTO</label>
            </div>
            <table class="striped" id="datatable">

                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Existencia</th>
                        <th>Precio_Compra</th>
                        <th>Precio_Venta</th>
                        <th>Proveedor</th>
                        <th>Categoria</th>
                        <th>Imagen</th>
                    </tr>
                </thead>
                <tbody id="data"></tbody>

            </table>

             
    <form id="formStatus" action="/modulo/producto/getPDFPro" method="post">
        <div class="input-field">
            <center><button type="submit" class="btn-large waves-effect waves-light blue darken-3">
                    <i class="material-icons right">picture_as_pdf</i>GENERAR PDF
                </button></center>

        </div>
    </form> 
    
        </div>


        <script src="/assets/js/validaciones/validacionproducto.js"></script>

            <%- include("comunes/components/footer-components-product") -%>

            <%- include("../views/comunes/components/footer-component") -%>
</body>

</html>