<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("comunes/components/headers-component") -%>
</head>
<body class="cyan darken-1">
    <%- include("status/components/form-principal-admi")  -%>
    

<br><br>

<div class="container"  style="width: 650px; padding: 18px; margin-left: 37%;">
    <center><img src="/assets/img/Logo.png" width="100" height="auto" ></center>
    <h5 style="text-align: center; font-style:italic" style="margin-left: 38%;">COMPRAS</h5>
    <table class="table table-bordered" >
  
        <thead>
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody id="data" ></tbody>
    
    </table>
</div>

    
<form id="formStatus" action="/modulo/compras/getPDFPro" method="post" style="width: 1100px; padding: 18px; margin-left: 25%">
    <div class="input-field">
        <center><button type="submit" class="btn-large waves-effect waves-light red">
                <i class="material-icons right">picture_as_pdf</i>GENERAR PDF
            </button></center>

            <select name="select" style="width: 300px; padding: 18px; margin-left: 25%">
                <option value="Enero"> Enero</option>
                <option value="Febrero">Febrero</option>
                <option value="Marzo">Marzo</option>
                <option value="Abril">Abril</option>
                <option value="Mayo">Mayo</option>            
                <option value="Junio">Junio</option>               
                <option value="Julio">Julio</option>
                <option value="Agosto">Agosto</option>
                <option value="Septiembre">Septiembre</option>
                <option value="Octubre">Octubre</option>
                <option value="Noviembre">Noviembre</option>
                <option value="Diciembre">Diciembre</option>
              </select>

    </div>


<%- include("status/components/footer-components-compras.ejs") -%>
<%- include("../views/comunes/components/footer-component") -%>
</body>
</html>