<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("comunes/components/headers-component") -%>
</head>
<body class="cyan darken-1">
    <%- include("status/components/form-principal-admi")  -%>
    

<br><br>

<div class="container "  style="width: 950px; padding: 18px; margin-left: 25%;">
    <center><img src="/assets/img/Logo.png" width="100" height="auto" ></center>
    <h5 style="text-align: center; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;" style="margin-left: 38%;">CLIENTES</h5>
    <table class="striped" >
  
        <thead>
            <tr>
                <th>EMAL</th>
                <th>ID CLIENTE</th>
                <th>NOMBRE</th>
                <th>A_PATERNO</th>
                <th>A_MATERNO</th>
                <th>FECHA_NACIMIENTO</th>
                <th>TELEFONO</th>
                
            </tr>
        </thead>
        <tbody id="data" ></tbody>
    
    </table>

    
    <form id="formStatus" action="/api/v1/example/getPDF" method="post">
        <div class="input-field">
            <center><button type="submit" class="btn-large waves-effect waves-light red">
                    <i class="material-icons right">picture_as_pdf</i>GENERAR PDF
                </button></center>

        </div>
    </form>
</div> 

<%- include("status/components/footer-components-listaclientes.ejs") -%>
<%- include("../views/comunes/components/footer-component") -%>
</body>
</html>

